<div>
    <form *ngIf="!submitted; else postView" [formGroup]="formBuilder" (ngSubmit)="onSubmit()">
        <input type="text" placeHolder="Form Title" formControlName="title" />
        <ng-template appPlaceholder></ng-template>
    
        <button type="button" (click)="addQuestion()">Add Question</button>

        <button type="submit" [disabled]="!formValid">Submit</button>
        <button type="button" (click)="testSubjectValues()">Test Subject Values</button>

        <button (click)="retrieveForms()">Retrieve Forms</button>
    </form>
    <ng-template #postView>
        Thank you for submitting your form.
        <!-- Share link -->
    </ng-template>
</div>