<div>
    <form [formGroup]="questionBuilderForm">
        <label for="question-text">Question:</label>
        <input
            type="text"
            id="question-text"
            placeHolder="Enter your question"
            formControlName="questionText" />
        <select (change)="onChange($event)">
            <option *ngFor="let questionType of questionTypes">
                {{ questionType }}
            </option>
        </select>

        <div *ngIf="type === 'Short answer'">
            <input
                type="text"
                id="answer-text"
                placeHolder="Answer" />
        </div>
        <div *ngIf="type === 'Paragraph'">
            <textarea placeHolder="Paragraph"></textarea>
        </div>
        <div *ngIf="type === 'Multiple choice'">
            <div formArrayName='options'>
                <div
                    *ngFor="let optionControl of optionsControls; let i = index"
                    [formGroupName]="i">
                        <input
                            type="text"
                     />
                </div>
                <div>
                    <button type="button" (click)="onAddOption()">Add Option</button>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" (click)="onSubmit()">Submit</button>
        </div>
    </form>
    
</div>